language: go
sudo: false
go:
  - tip
  - 1.4
  - 1.3.3
  - 1.3.2
  - 1.3.1
  - 1.3
  - 1.2.2
  - 1.2.1
  - 1.2
install:
  - go get ./...
  - go get -t ./...
  - go get github.com/axw/gocov/gocov
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/mattn/goveralls
script:
  - go test -v ./...
  - goveralls -v -service=travis-ci
